<ul class="nav navbar-nav">
	<li><a href="{{ path('homepage') }}"><span
			class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span><span
			class="sr-only">Start</span></a></li>
	<li
		class="{% if app.request.attributes.get('_route') starts with 'homepage' %}active{% endif %}"><a
		href="{{ path('homepage') }}">O nas</a></li>
	<li class=""><a href="">Wolne pokoje</a></li>
	<li
		class="{% if app.request.attributes.get('_route') starts with 'fos_user_registration' %}active{% endif %}"><a
		href="{{ path('fos_user_registration_register') }}">Załóż konto</a></li>
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

	<li class=""><a href="#">Moje rezerwacje</a></li> {% endif %} {% if
	is_granted("ROLE_ADMIN") %}
	<li
		class="dropdown {% if app.request.attributes.get('_route') starts with 'admin_' %}active{% endif %}"><a
		href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
		aria-haspopup="true" aria-expanded="false">Administracja <span
			class="caret"></span>
	</a>
		<ul class="dropdown-menu">
			<li><a href="{{ path('homepage') }}">Home</a></li>
			<li><a href="{{ path('homepage') }}">Home</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="{{ path('homepage') }}">Home</a></li>


		</ul></li> {% endif %}
</ul>
<ul class="nav navbar-nav navbar-right">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false"><span class="glyphicon glyphicon-user"
						aria-hidden="true"></span> Zalogowany jako <strong>{{
							app.user.username }}</strong><span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('fos_user_profile_edit') }}">Edycja profilu</a></li>
						<li><a href="{{ path('fos_user_change_password') }}">Zmiana hasła
						</a></li>
						<li><a href="{{ path('fos_user_security_logout') }}"> {{
								'layout.logout'|trans({}, 'FOSUserBundle') }} </a></li>

					</ul></li> {% else %}
				<li><a href="{{ path('fos_user_security_login') }}">{{
						'layout.login'|trans({}, 'FOSUserBundle') }}</a></li> {% endif %}
				
</ul>