{% block body %}

{% if form.delete is defined %}
      Czy na pewno usunąć: <strong>{{ form.vars.value.title }} ?</strong>
{% endif %}
    
{{ form_start(form, { 'attr': {'class': 'frmpodstawowy', 'novalidate': 'novalidate'} }) }}
 {{ form_widget(form) }}

 
    <div class="row">
    	<div class="col-sm-2"></div>
    	<div class="col-sm-5">
    		<div class="btn-group" role="group" aria-label="...">
    			<button type="submit" 
    				class="btn btn-primary">Zapisz</button>
    			<a
				href="{{ path(routeNames.index) }}" class="btn btn-default">Anuluj</a>
    		</div>
    	</div>
    	<div class="col-sm-5 al-right">

    	</div>
    
    </div>
    


{{ form_end(form) }}

{% endblock %}

