{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nazwa lub numer pokoju</th>
                <th>Pojemność</th>
                
                <th>Dzień</th>
                <th>Nazwa rezerwacji</th>
                <th>Złożył</th>
                
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}

            <tr>
                <td><a href="{{ path(routeNames.show, { 'id': reservation.id }) }}">{{ reservation.resource.name }}</a></td>
                <td>{{ reservation.resource.capacity }}</td>
				
				<td>{{ reservation.day|date('Y-m-d') }}</td>
                <td>{{ reservation.name }}</td>
                <td>{{ reservation.createdByUser }}</td>
                
                <td>
                	<a href="{{ path(routeNames.edit, {'id': reservation.id }) }}"  class="btn btn-default" title="Edycja"><span class="glyphicon glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> <span class="sr-only">Edycja</span></a>
        			<a href="{{ path(routeNames.show, {'id': reservation.id }) }}"  class="btn btn-default" title="Podgląd"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <span class="sr-only">Podgląd</span></a>                    
                </td>
            </tr>
         
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
