{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1>

    <table class="table vietab">
        <tbody>
        	<tr>
                <th>Nazwa rezerwacji</th>
                <td>{{ reservation.name }}</td>
            </tr>
            <tr>
                <th>Data rezerwacji</th>
                <td>{{ reservation.day|date('Y-m-d') }}</td>
            </tr>
             <tr>
                <th>Cena</th>
                <td>{{ reservation.price }}</td>
            </tr>
            <tr>
                <th>Kwota zapłacona</th>
                <td>{{ reservation.paidAmount }}</td>
            </tr>
            <tr>
                <th>Opłacone</th>
                <td>{% if reservation.paid %}Tak{% else %}Nie{% endif %}</td>
            </tr>
            <tr>
                <th>Wygasa</th>
                <td>{{ reservation.expires|date('Y-m-d H:i:s') }}</td>
            </tr>
        	<tr>
                <th>Name lub numer pokoju</th>
                <td>{{ room.name }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ room.description|nl2br }}</td>
            </tr>
            <tr>
                <th>Pojemność</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>Minibar</th>
                <td>{% if room.minibar %}Tak{% else %}Nie{% endif %}</td>
            </tr>
            <tr>
                <th>Klimatyzacja</th>
                <td>{% if room.airConditioned %}Tak{% else %}Nie{% endif %}</td>
            </tr>
			
        </tbody>
    </table>

<div class="container-fluid">
<div class="row">
	<div class="col-sm-3"></div>
	
	<div class="col-sm-2">
		<a href="{{ path(routeNames.index) }}" class="btn btn-default btn-block">Powrót do listy</a>
	</div>
	<div class="col-sm-2">
	{% if not is_granted("ROLE_CLERK") %}	
		<a href="{{ path('reservation_pay', {'id': reservation.id}) }}" class="btn btn-default btn-block">Opłać</a>
	{% endif %}
	</div>
	<div class="col-sm-2">
		{{ form_start(delete_form, {'attr': {'onsubmit':'return confirm("Czy na pewno usunąć?");'} } ) }}
                <input type="submit" value="Usuń" class="btn btn-danger btn-block">
            {{ form_end(delete_form) }}
	</div>
	
	<div class="col-sm-3"></div>
</div>
</div>
    
{% endblock %}
